/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Jul 1, 2024, 9:16:42 PM
    Author     : konst
*/

/* 
Css for image thumbnail of the lessons. Most css that is used, comes from bootstrap files
*/

.img-thumbnail{
    width: 75%;
    height: 75%;
}